<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %X{traceId:-} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${GELF_HOST:-127.0.0.1}</graylogHost>
        <graylogPort>${GELF_PORT:-12201}</graylogPort>
        <facility>kafkaConsumer</facility>
        <includeRawMessage>true</includeRawMessage>
        <includeMdcData>true</includeMdcData>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="GELF"/>
    </root>

</configuration>
